@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,400;1,800&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    background-color: #000;
    box-sizing: border-box;
}


.title {
    margin: 2rem auto;
    color: #fff;
    text-align: center;
}

#block_view {
    position: absolute;
    /* background-color: orange; */
    cursor: grab;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    transition: all 200ms ease-in-out;
}

#switch:hover{
    animation-play-state: paused;
    cursor: grabbing;
}

#switch {
    height: 0.3rem;
    width: 0.3rem;
    z-index: 6;
    /* background-color: red; */
    position: fixed;
    transition: all 200ms ease;
    border-radius: 50%;
    background-color: #fff;
    cursor: wait;
    cursor: grabbing;
    z-index: 7;
}

.a,
.b,
.c,
.d {
    height: 0.3rem;
    width: 0.3rem;
    z-index: 6;
    /* background-color: red; */
    position: fixed;
    transition: all 200ms ease;
    border-radius: 50%;
    cursor: wait;
}


div.a {
    background-color: #eee;
}

div.b {
    background-color: #ddd;
}

div.c {
    background-color: #bbb;
}

div.d {
    background-color: #ccc;
}

/* animation: roll 2000ms linear infinite alternate; */
/* 
@keyframes roll {
    0%{
        transform: translate(0px, 10px);
    }
    50%{
        transform: translate(0, 0);
    }
} */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

#container {
    margin: 1rem;
    padding: 10px;
    /* background-color: #ccc; */
    /* margin: 1rem auto; */
    /* width: 95vw; */
    place-content: center;
    display: grid;
    max-width: 1100px;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
}

.item {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.img-container {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item .img-container img {
    transition: all 200ms ease-in-out;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.item:hover img {
    scale: 1.3;
}

.like_container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px;
    transition: all 200ms ease-in-out;
    transform: translateY(-100px);
    background-color: #ffffff11;
    backdrop-filter: blur(10px);
    border-radius: 0 0 10px 10px;
}

.like_container h3,
.like_container img {
    background-color: transparent;
    color: #fff;
}

.like_container img {
    height: 25px;
    padding: 4px;
}

.item:hover .like_container {
    transform: translateY(0px);
    z-index: 10;
}

.inner_container {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    justify-content: space-between;
    transition: all 200ms ease-in-out;
    transform: translateY(100px);
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ffffff11;
    backdrop-filter: blur(10px);
    border-radius: 10px 10px 0 0;
}

.item .img-container .inner_container img {
    height: 30px;
    width: 30px;
    padding: 2px;
    border-radius: 2px;
    background-color: #fff;
}

.inner_container h4 {
    color: #fff;
    font-size: 0.8rem;
    padding: 10px 1rem;
    background-color: transparent;

}

.item:hover .inner_container {
    transform: translateY(0px);
}