@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,400;1,800&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    background-color: #111;
    box-sizing: border-box;
}
#block_view{
    position: absolute;
    background-color: #000;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    transition: all 200ms ease-in-out;
}
#switch:hover{
    animation-play-state: paused;
}

#switch{
    margin: 5px;
    border-radius: 7px;
    position: absolute;
    right: 0;
    height: 0.3rem;
    background-color: #fff;
    cursor: grabbing;
    width: 0.3rem;
    z-index: 6;
    animation: roll 2000ms linear infinite alternate;
}

@keyframes roll {
    0%{
        transform: translate(0px, 10px);
    }
    50%{
        transform: translate(0, 0);
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container {
    padding: 10px;
    /* background-color: #ccc; */
    margin: 1rem auto;
    width: 95vw;
    place-content: center;
    display: grid;

    /* max-width: 1100px; */
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
}

.item {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    /* overflow: hidden; */
}

.img-container {
    overflow: hidden;
    border-radius: 5px;
}

.item img {
    overflow: hidden;
    transition: all 200ms ease-in-out;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.item:hover img {
    scale: 1.2;
}

.item .desc {
    color: #fff;
    position: absolute;
    bottom: 0;
    background-color: #ffffff63;
    backdrop-filter: blur(4px);
    /* left: 50%; */
    /* transform: translateY(100%); */
    /* height: 5rem; */
    padding: 1rem;
    border-radius: 5px;
    left: 0;
    right: 0;
    transition: all 300ms ease-out;
}

.desc h2 {
    font-weight: 800;
    text-align: center;
    background-color: transparent;
    padding-bottom: 0.5rem;
}

.desc_i b,
.desc_i div {
    background-color: transparent;
}

.desc_i {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
}

.item:hover .desc {
    transform: translateY(0%);
}

.decor1,
.decor2,
.decor3 {
    position: absolute;
    height: 80px;
    aspect-ratio: 5/6;
    border-radius: 5px;
    transition: all 300ms ease-out;
    z-index: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.decor1{
    transform-origin: bottom left;
    background-color: #ff2426;
    bottom: 0;
    left: 0;
}

.decor1 img, .decor2 img, .decor3 img{
    padding: 1px;
    border-radius: 2px;
    background-size: contain;
    height: 30px;
    width: 30px;
    background-color: #fff;
}
.decor2 img{
    background-color: transparent;

}
.decor1 p, .decor2 p, .decor3 p{
    color: #fff;
    font-size: 8px;
    background-color: transparent;
    font-weight: bold;
}

.decor2 {
    background-color: orange;
    transform-origin: bottom right;
    top: 50%;
    right: 0;
}

.decor3 {
    background-color: #ff4e4f;
    right: 0;
}

.item:hover .decor1 {
    transform: rotate(-5deg) translate(-80%, -10%);
    opacity: 1;

}

.item:hover .decor2 {
    transform: rotate(5deg) translate(100%, -10%);
    opacity: 1;
}

.item:hover .decor3 {
    transform: rotate(10deg);
    opacity: 1;
}